body {
    margin: 50px auto;
    width: 50%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.20em;
    line-height: 1.5em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}

ul.posts { 
    margin: 50px auto 60px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}
/* Base container for desktop */
.container {
    /* width: 100%; */
    max-width: 2500px;
    margin: 0 auto;
    /* padding: 10px 1rem; */
    box-sizing: border-box;
}

/* Responsive adjustment for phones/tablets */
@media (max-width: 1500px) {
    .container {
        padding-left: 14px !important;
        padding-right: 14px !important;
        max-width: 100% !important;
    }

    /* Prevent any nested indent or images from overflowing */
    .indented {
        padding-left: 0.8rem !important;
        padding-right: 0.8rem !important;
    }

    .profile-pic {
        width: 75% !important;
        max-width: 450px !important;
        height: auto !important;
    }
}
