<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} | Leopoldo Lerena</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        {% include mathjax.html %}
    </head>
    <body>
        <header class="site-header">
            <h1 class="site-title">Leopoldo Lerena</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
        </header>

        <div class="container">
            {{ content }}
        </div>

        <footer>
            </footer>
    </body>
</html>
