<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | Leopoldo Lerena</title>
        <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}">
        {% include mathjax.html %}
    </head>
    <body>
        <header class="site-header">
            <h1 class="site-title">Leopoldo Lerena</h1>
            <nav>
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
                </ul>
            </nav>
        </header>

        <div class="container">
            {{ content }}
        </div>

        <footer>
        </footer>
    </body>
</html>